@{
    ViewData["Title"] = "Page Not Found";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h2>Page Not Found</h2>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Alle Projekter</a>
